.hexagon {
  aspect-ratio: 1;
  clip-path: polygon(25% 0%, 75% 0%, 80% 50%, 75% 100%, 25% 100%, 20% 50%);
}

.hexagon-2 {
  aspect-ratio: 1;
  clip-path: polygon(
    0% 0%,
    /* Top-left corner */ 100% 0%,
    /* Top-right corner */ 100% 20%,
    /* Right point */ 75% 100%,
    /* Bottom-right point */ 25% 100%,
    /* Bottom-left point */ 0% 0% /* Left point */
  );
}

.octagon {
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
}

.octagon-2 {
  clip-path: polygon(
    5% 0%,
    95% 0%,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0% 95%,
    0% 5%
  );
}
